html,
body {
  margin: auto;
}

/* THIS IS CANVAS STYLE*/
/* canvas {
         display: block;
       margin-top: 20px;
       margin-left: 165px;
       margin-right: 90px;
       margin-bottom: 20px;
      } */

/* NOW WE USE HTML CLASS TO GIVE STYLE */
.saini {
  text-align: center;
  font-size: 25px;
  color: rgb(13, 28, 238);
  font-weight: lighter;
}

/* #king {
  border: solid 5px black;
  background-color: aquamarine;
  color: rgb(255, 0, 0);
  font-size: 30px;
  width: 70px;
  height: 70px;
  margin-top: 100px;
  text-align: center;
  margin-left: 100px;
  border-radius: 50px;
  border-top-color: rgb(0, 255, 0);
  border-left-color: blue;
  border-right-color: yellowgreen;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: brown;
  text-decoration: underline;
  text-transform: uppercase;
  text-decoration-color: black;
  te
} */